
{% extends "layout.twig" %}

{% block content %}
<div class="bk-pt-default">
    <header class="bk-header clearfix">
          <div class="headerwrapper clearfix">
                <div class="header-left">
                    {{widget('profile', 'headercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
                </div>
                <div class="header-center">
                    {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                    {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
                </div>
                    {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
           </div>
      </header>  
    <div class="page-wrap">
        <div class="mainzone headerwrapper">
           {{zone('main')|raw}}
        </div>
    </div>
    
    <footer class="bk-footer">
         <div class="footer-border headerwrapper">
            {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
         </div>
    </footer>
</div>

{% endblock %}