
{% extends "layout.twig" %}

{% block content %}

<header class="bk-header clearfix">
      <div class="headerwrapper clearfix">
            <div class="header-left">
                {{widget('profile', 'headercolumn1profilePhone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
            </div>
            <div class="header-center clearfix">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
                {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
       </div>
  </header>

<div class="textbox wrapper clearfix">
    {{widget('content', 'textwidgetbox2', {content: '<h2 style="text-align:center">About Us</h2>', lines: 'all'})|raw}}
    {{widget('content', 'textwidgetbox1', {content: '<h5 style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</h5>', lines: 'all'})|raw}}
</div> 

<div class="page-wrap">
    <section class="bk-section">
        {{widget('gallery', 'gallery', 
        {'albumRef':0,
        'showDescription': true,
        'showTitle': true,
        'images':
        [
        {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/1.jpg'), 'title':'Image 1',  'description': 'This is image 1'},
        {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/2.jpg'), 'title':'Image 2',  'description': 'This is image 2'},
        {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/3.jpg'), 'title':'Image 3',  'description': 'This is image 3'}, 
        ]
        })|raw}}
    </div>
    <div class="mainzone headerwrapper">
	     {{zone('main')|raw}}
    </div>
</div>

<footer class="bk-footer">
	   <div class="footer-border headerwrapper">
		    {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
	   </div>
</footer>

{% endblock %}